div
  legend
    h4(class='muted') {{post.title}}
  p {{post.text}}
  p
    span(class='text-warning') Are you sure you want to delete this post?
    button(class='btn btn-mini', ng-click='deletePost()') Yes
    button(class='btn btn-mini', ng-click='home()') No thanks