!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title My Blog
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/js/lib/bootstrap/css/bootstrap.min.css')
  body
    block body