extends layout

block body
  div(class='container')
    div(class='hero-unit')
      h1 My Blog
      p This a simple blog example using AngularJS + NodeJS + Express + Jade(Template) + CouchDB(cradle)
      div(class='navbar')
        ul(class='nav')
          li
            a(href='/auth/facebook')
              img(src='img/login-with-facebook.png', width='154' ,height='22')
  
